{% extends "Layout.html" %}
{% load static %}
{% block title %}
Nuggets
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'Home/css/style.css' %}">
{% endblock head %}
{% block body %}
<nav>
    <div id="websiteName">Nuggets</div>
    <a href="" class="links">SetGoals</a>
        <a href="" class="links">Tasks</a>
        <a href="" class="links">Zen Nuggets</a>
        <a href="" class="links">Joy Nuggets</a>
        <a href="" class="links">About us</a>
        <button class="links">Login</button>
    
    
</nav>
{% endblock body %}