{% extends "Layout.html" %}
{% load static %}
{% block title %}
Nuggets
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'Home/css/style.css' %}">
{% endblock head %}
{% block body %}
    <nav>
        <div>Nuggets</div>
        <a href="" >SetGoals</a>
        <a href="" >Tasks</a>
        <a href="" >Zen Nuggets</a>
        <a href="" >Joy Nuggets</a>
        <a href="" >About us</a>
        <button>Login</button>
        <button>Sign up</button>
    </nav>
    <div id="hero-section">
        <div class="Hero-Content">
            <div class="heading">
                Welcome to Nuggets
            </div>
            <div class="subheading">
                Where Goals Spark Joy, Set Goals , daily task and achieve them.
            </div>
            <button id="hero-CTA">Try Nuggets</button>
        </div>
        <img src="{%static 'Home/images/hero-image.png'%}" alt="image.svg" width="735px" height="685px">
    </div>
    <div id="Features">
        <div id="feature1">

        </div>
        <div id="feature2">

        </div>
        <div id="feature3">

        </div>

    </div>
    <div id="End-section">
        <div id="end-content">
            <div class="heading">
                Set, Achieve, Shine with Nuggets!
            </div>
            <div class="subheading">
                Try crafting your goals and tasks using Nuggets
            </div>
            <button class="">
                Start setting Goals
            </button>

        </div>
        <img src="{%static 'Home/images/end-section-image.svg'%}">
    </div>

{% endblock body %}